#login {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: #111;
    color: var(--azul);
    border: 2px solid var(--verde);
    border-radius: 25px;
}

#login h2 {
    text-align: center;
    margin-bottom: 20px;
}

#formLogin {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#emailLogin,
#passLogin {
    height: 38px;
    border-radius: 25px;
    text-align: center;
    padding: 0 18px;
}

#btnLogin,
#btnRecuperar {
    color: #FFFFFF;
    background-color: var(--azul);
    width: 185px;
    height: 38px;
    border-radius: 23px;
    align-self: center;
    border: none;
}

#btnLogin:hover,
#btnRecuperar:hover {
    background-color: var(--verde);
    color: #000;
}
